
    p{
      color:green;
      font-size:25px;
      line-height:1.6;

     }


#p3 {
    color: blue;
    font-size: 16px;
}

#p4 {
    color: aqua;
    font-size: 17px;
}
#p4 {
    color: aqua;
    font-size: 17px;
}
