
body {
    font-family: Arial;
    background: #f2f2f2;
    text-align: center;
    padding: 40px;
}

.card {
    background: #30e6be;
    padding: 20px;
    margin: 10px;
    display: inline-block;
    border-radius: 12px;
    cursor: pointer;
    width: 150px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.selected {
    border: 3px solid #007bff;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

button {
    padding: 12px 25px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

